@model List<SIXTReservationApp.Models.CByCustomerReservation.UserAssignments>
<div>
    @if (Model?.Count > 0)
    {
        <div class="row">
            <!-- step conetnt -->
            <div class="md-form col-6 m-5">
                <table class="table table-bordered">
                    <thead >
                        <tr >
                            <td class="font-weight-bold">From User</td>
                            <td class="font-weight-bold">To User</td>
                            <td class="font-weight-bold">Date</td>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.Count; i++)
                    {

                        var item = Model[i];
                        <tr>
                            <td>@item.FromUser</td>
                            <td>@item.ToUser</td>
                            <td>@item.Date</td>

                        </tr>
                    }


                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row ml-5">
            <div class="col-6 form-group">
                <label><b>Select user</b></label>
                <select id="assignDDL" class="form-control select-dropdown validate" Searchable="Search here..." required>
                    <option selected disabled>select user</option>
                </select>

            </div>
        </div>

        <div class="step-actions ml-3">
            <button class="btn btn-primary btn-md mr-0 float-right waves-effect waves-light ml-5" onclick="assignAgent()">Assign</button>
            @*next-step*@
        </div>
    }
</div>
<script>
    $(() => {
        @if (Model?.Count == 0)
            {
              <text> loadUsers();</text>
            }
        })

    async function loadUsers()
    {
        $('#assignDDL').empty();
        $('#assignDDL').append('<option selected disabled > select user</option>');

        $.ajax({
            url: '@Url.Action("GetCByCustomerAssignUsers", "Reservation")',
            method: 'GET',
            success: response => {
                if (response && response.length) {
                    response.forEach(r => {
                        var node = $(`<option value=${r.id}>${r.name}</option>`);
                        $('#assignDDL').append(node);
                    });
                }

            }
        });
    }



</script>
