// FORMS PRO
.form-header {
    @include padding( $form-header-padding);
    margin-top: $form-header-mt;
    margin-bottom: $form-header-mb;
    color: $form-header-color;
    @include text-align( center);
    border-radius: $form-header-border-radius;
    box-shadow: $z-depth-1-half;
}
