@model SIXTReservationApp.Models.LoginVM
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Login</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="~/Assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="~/Assets/css/pages/auth-light.css" rel="stylesheet" />
    <!-- ============== Custom style===============  -->
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .form-check-input {
    position: absolute;
    margin-top: .25rem;
    margin-left: 0;
}
    </style>
</head>

<body class="bg-silver-300">
    <div class="content">
        <div class="brand">

            <img src="~/images/Sixt-Egypt-19670.jpg" />
        </div>
        <form id="login-form" asp-action="Login" method="post" class="card">
            <h2 class="login-title">Log in</h2>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    <input class="form-control" asp-for="Email" placeholder="Email" autocomplete="off">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                    <input asp-for="Password" id="loginPassword" placeholder="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                @*<label class="ui-checkbox ui-checkbox-info">
                        <input type="checkbox">
                        <span class="input-span"></span>Remember me
                    </label>*@
                <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                <label class="form-check-label" asp-for="RememberMe"></label>


                @*<a href="forgot_password.html">Forgot password?</a>*@
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <input type="submit" value="Login" class="btn btn-info btn-block" style="background-color:#2573ba; color:white" />

            </div>
            @*<div class="social-auth-hr">
                    <span>Or login with</span>
                </div>
                <div class="text-center social-auth m-b-20">
                    <a class="btn btn-social-icon btn-twitter m-r-5" href="javascript:;"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-facebook m-r-5" href="javascript:;"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-google m-r-5" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-linkedin m-r-5" href="javascript:;"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-vk" href="javascript:;"><i class="fa fa-vk"></i></a>
                </div>*@
            @*<div class="text-center">
                    Not a member?
                    <a class="color-blue" href="register.html">Create accaunt</a>
                </div>*@
        </form>
    </div>
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS -->
    <script src="~/Assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/Assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL PLUGINS -->
    <script src="~/Assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <!-- CORE SCRIPTS-->
    <script src="~/Assets/js/app.js" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script type="text/javascript">
        $(function () {
            $('#login-form').validate({
                errorClass: "help-block",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },
                highlight: function (e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function (e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });

    </script>
</body>

</html>

@if (!string.IsNullOrEmpty(ViewBag.returnUrl))
{
    <script>
        $(() => {
            $('input[name=returnUrl]').val('@ViewBag.returnUrl');
        })
    </script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}