@model SIXTReservationBL.Models.ViewModels.EmailSettingVM[]
@{
    ViewData["Title"] = "Email setting List";
}


<div class=" fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Email Setting List</div>
        </div>
        <div class="ibox-body">
            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                <thead class="text-center">
                    <tr>
                        <th class="text-left">Reservation Status</th>
                        <th>Email Text</th>
                        <th data-sortable="false">Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @if (Model != null && Model.Length > 0)
                    {
                        @for (int i = 0; i < Model.Length; i++)
                        {
                            var item = Model[i];
                            <tr>
                                @if (item.ReservationStatus == 4)
                                {
                                    <td class="text-left">
                                        Open
                                    </td>
                                }
                                else if (item.ReservationStatus == 5)
                                {
                                    <td class="text-left">
                                      Invoiced
                                    </td>
                                }

                                <td>
                                    @item.EmailText
                                </td>

                                <td>
                                    <button onclick="Edit(@item.Id)" class="material-tooltip-main btn-primary btn btn-floating btn-sm  p-0 m-0" data-toggle="tooltip"
                                            title="Edit">
                                        <i class="fa fa-pencil font-14"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

